/* Tag restyling */
body {
  font-family: "Raleway", sans-serif;
}

a:hover, a:visited, a:link, a:active
{
   /* Remove blue coloring and underlines */
  /*  text-decoration: none;*/
}

h1 {
  color: #2d3c49;
  font-weight: 200;
  text-transform: uppercase;
}

h2 {
  color: #7d97ad;
}

h3 {
  color: #2d3c49;
  text-transform: uppercase;
}

h4 {
  color: #2d3c49;
  text-transform: uppercase;
}

h5 {
  color: #2d3c49;
}

p {
  color: #2d3c49;
}

input[type=text] {
}

input[type=password] {
}

input[type=submit] {
}

textarea {
}

.border-bottom {
  border-bottom: 3px solid #7d97ad;
  padding: 50px 0;
}

/* Header title and subtitle container */
.page-title {
  text-align: right;
  font-size: 4em;
}

.page-subtitle {
  text-align: right;
  font-size: 2em;
}

@media screen and (max-width: 687px) {
  .page-title {
    text-align: center;
  }

  .page-subtitle {
    text-align: center;
  }
}

.logo {
  padding: 20px;
}

/* Large home page picture */
.full-screen{
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .section-title {
    text-align: center;
  }
}

/* Featured section container */
.featured {
  text-align: center;
}

/* Featured item */
.featured-item {
  padding: 25px 0;
  text-align: center;
  font-size: 1.5vw;
}

@media screen and (max-width: 768px) {
  .featured-item {
    border-bottom: 2px solid #7d97ad;
  }
}

.user-info {
  text-align: right;
}

.action-link {
  background-color: #7d97ad;
  padding: 0 15px;
  display: inline;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.blog-title {
  background-color: #ddd;
  padding: 5px 15px;
}

.blog-section {
  margin: 10px 0;
  padding: 0 25px;
}

.border-side {
  border-right: 1px solid #2d3c49;
}

.recent-posts {
}

.label {
  color: #2d3c49;
}

.error {
  color: red;
  padding-left: 15px;
}

.comment-post {
  background-color: #ddd;
  padding-bottom: 15px;
}

.comment-header {
}
