{% extends "base.html" %}

{% block header %}
<!-- Header section -->
  <header class="header">
    <a href="/blog">
      <h1>
        Front-End Blog
      </h1>
    </a>
  </header>
{% endblock %}

{% block content %}
  {% if username %}
  <h5>
    Welcome, {{username}}!
  </h5>
  <p>
    <a href="/blog/logout">
      Log Out
    </a>
  </p>
  {% else %}
  <p>
    New User?
    <a href="/blog/signup">
      Sign Up
    </a>
  </p>
  <p>
    Already Registered?
    <a href="/blog/signin">
      Sign In
    </a>
  </p>
  {% endif %}

  <a href="/blog/newpost">
    <div class="action-link">
      <h4>
        +Add New Blog Post
      </h4>
    </div>
  </a>

  <br />
  <br />

  <h2>
    Newest Posts
  </h2>

  <div>
    {% for p in posts %}
      {{ p.render(username=username) | safe }}
      <br />
      <hr />
      <br />
    {% endfor %}
  </div>

{% endblock %}
