{% extends "base.html" %}

{% block header %}
<!-- Header section -->
  <header class="header">
    <a href="/blog">
      <h1>
        Front-End Blog
      </h1>
    </a>
  </header>
{% endblock %}

{% block content %}
  <a href="/blog/newpost">
    <div class="action-link">
      <h4>
        +Add New Blog Post
      </h4>
    </div>
  </a>

  <br />
  <br />

  <h2>
    Newest Posts
  </h2>

  <div class="recent-posts">
    {% for p in posts %}
      {{ p.render() | safe }}
      <br />
      <hr />
      <br />
    {% endfor %}
  </div>

{% endblock %}
