<div class="comment-post">
  <div>

      <div class="comment-header">
        <h5>{{comment.score}}</h5>
        <h4>
          <span class="author">
            {{comment.author.username}}
          </span>
        </h4>
      </div>

    <h5>
      {{comment.created.strftime("%b %d, %Y")}}
    </h5>
    {% if comment.created != comment.last_modified %}
    <p>
      Edited on: {{comment.last_modified.strftime("%b %d, %Y")}}
    </p>
    {% endif %}

    {% if username|string() == comment.author.username|string() %}
    <a href="/blog/{{comment.post.key().id()}}/{{comment.key().id()}}/edit">
      <div class="action-link">
        <h5>
          Edit
        </h5>
      </div>
    </a>

    <form method=post>
      <input type="hidden" name="delete_comment" value={{comment.key().id()}}>
      <input class="action-link" type="submit" name="delete" value="Delete Comment">
    </form>
    {% endif %}


    <form method="post">
      <input type="hidden" name="vote_comment" value={{comment.key().id()}} />
      <input class="action-link" type="submit" name="vote" value="Upvote" />
      <input class="action-link" type="submit" name="vote" value="Downvote" />
    </form>

  </div>

  <p>
    {{comment.comment | safe}}
  </p>
</div>
