{% extends "blog.html" %}

{% block content %}

{% if username == post.author.username %}
<a href="/blog/{{post.key().id()}}/edit">
  <div class="action-link">
    <h5>
      Edit
    </h5>
  </div>
</a>

<a href="/blog/{{post.key().id()}}/delete">
  <div class="action-link">
    <h5>
      Delete Post
    </h5>
  </div>
</a>
{% endif %}

{{post.render() | safe}}

<div class="container">
  <hr />

    <form method=post>
      <div class="row">
        <label class="col-xs-12">
          <h3>
            Edit Comment
          </h3>
          <textarea rows="5" columns="100" class="col-xs-12 col-md-6" name="comment">{{comment}}</textarea>
        </label>
      </div>
      <div>
        <input type=submit name="edit_comment" value="Submit Changes">
      </div>
    </form>

    <br />
    <br />
</div>

<div>
  {% for c in post.comments %}
    {% if c.key().id() != comment_id%}
      {{ c.render(username=username) | safe }}
      <br />
      <hr />
      <br />
    {% endif %}
  {% endfor %}
</div>
{% endblock %}
