{% extends "base.html" %}

{% block header %}
  <div class="container-fluid border-bottom">
    <!-- Header section with logo, title, and subtitle -->
    <header class="row-fluid" >
      <img class="hidden-xs col-sm-4 col-md-2 logo" src="/images/fixed/udacitylogo.svg" alt="Udacity logo" />
      <div class="col-xs-12 col-sm-8 col-md-10">
        <h1 class="page-title">
          Tabitha Jarvis
        </h1>
        <h4 class="page-subtitle">
          Front-End Portfolio
        </h4>
      </div>
    </header>
  </div>

{% endblock %}

{% block content %}
<div class="container-fluid full-screen">
    <!-- Front page banner image -->
    <div class="row-fluid full-screen">
      <picture>
        <source media="(max-width: 768px)" srcset="/images/frontpage-300.png 300w, /images/frontpage-800.png 800w" sizes="100vw" />
        <source media="(min-width: 769px)" srcset="/images/frontpage-800.png 800w" sizes="100vw"/>
        <img class="col-md-12 img-responsive full-screen border-bottom" src="/images/frontpage-800.png" alt="app store" />
      </picture>
    </div>
</div>

<br />
<br />

    <!-- Featured Work content -->
<div class=container-fluid>
    <div class="row-fluid section-title">
      <h2 class="col-xs-12">
        Featured Work
      </h2>
    </div>

      <!-- Blog -->
      <div class="row-fluid featured">
        <div class="col-xs-12 col-sm-4 featured-item">
          <a href="/blog">
            <picture>
              <source media="(max-width: 768px)" srcset="/images/blog-800.png 800w, /images/blog-300.png 300w" sizes="100vw" />
              <source media="(min-width: 769px)" srcset="/images/blog-300.png 300w" sizes="30vw" />
              <img src="/images/blog-800.png" alt="app store" />
            </picture>
          </a>
          <h3>
            Blog
          </h3>

        </div>

        <!-- Sunflower -->
        <div class="col-xs-12 col-sm-4 featured-item">
          <picture>
            <source media="(max-width: 768px)" srcset="/images/sunflower-800.png 800w, /images/sunflower-300.png 300w" sizes="100vw" />
            <source media="(min-width: 769px)" srcset="/images/sunflower-300.png 300w" sizes="30vw" />
            <img src="/images/sunflower-800.png" alt="sunflower" />
          </picture>
          <h3>
            Sunflower
          </h3>
        </div>

        <!-- Bokeh -->
        <div class="col-xs-12 col-sm-4 featured-item">
          <picture>
            <source media="(max-width: 768px)" srcset="/images/bokeh-800.png 800w, /images/bokeh-300.png 300w" sizes="100vw" />
            <source media="(min-width: 769px)" srcset="/images/bokeh-300.png 300w" sizes="30vw" />
            <img src="/images/bokeh-800.png" alt="sunny day" />
          </picture>
          <h3>
            Bokeh
          </h3>
        </div>
      </div>

</div>
{% endblock %}
