{% extends "blog.html" %}

{% block content %}

{% if username == post.author.username %}
<div class="container">
  <div class="row">

    <div class="col-xs-12">
      <br />
      <form class="inline" action="/blog/{{post.key().id()}}/edit">
        <button class="action-link" type=submit>
          <h3>
            Edit
          </h3>
        </button>
      </form>

      <form class="inline" action="/blog/{{post.key().id()}}/delete">
        <button class="action-link" type=submit>
          <h3>
            Delete
          </h3>
        </button>
      </form>
    </div>

  </div>
</div>
{% endif %}

{{post.render() | safe}}

<div class="container">
  <hr />

    <form method=post>
      <div class="row">
        <label class="col-xs-12">
          <h3>
            Add Comment
          </h3>
          <textarea rows="5" columns="100" class="col-xs-12 col-md-6" name="comment"></textarea>
        </label>
      </div>
      <div>
        <input type=submit name="add_comment" value="Add Comment">
      </div>
    </form>

    <br />
    <br />
</div>

<div>
  {% for c in comments %}
    {{ c.render(username=username) | safe }}
    <br />
    <hr />
    <br />
  {% endfor %}
</div>
{% endblock %}
