<div class="blog-post">
  <div>

    <a href='/blog/{{post.key().id()}}'>
      <div class="blog-title">
        <h4>
          {{post.title}}
          <span class="author">
            {{post.author.username}}
          </span>
        </h4>
      </div>
    </a>

    <h5>
      {{post.created.strftime("%b %d, %Y")}}
    </h5>
    {% if post.created != post.last_modified %}
    <p>
      Edited on: {{post.last_modified.strftime("%b %d, %Y")}}
    </p>
    {% endif %}

    {% if username == post.author.username %}
    <a href="/blog/{{post.key().id()}}/edit">
      <h5>
        Edit
      </h5>
    </a>
    {% endif %}

  </div>

  <p>
    {{post.blogpost | safe}}
  </p>
</div>
