{% extends "blog.html" %}

{% block title %}
  <title>Add New Post</title>
{% endblock %}

{% block content %}
<div class="container">
  <form method="post">

    <label class="row block">
      <h3 class="col-xs-12">
        Title
      </h3>
      <input class="col-xs-12 col-md-6" type="text" name="title" value="{{title}}" />
    </label>

    <label class="row block">
      <h3 class="col-xs-12">
        Blog Post
      </h3>
      <textarea class="col-xs-12 col-md-6" name="blogpost">{{blogpost}}</textarea>
    </label>

    <div class="error">{{error}}</div>

    <input type="submit">
  </form>
</div>
{% endblock %}
