<div class="blog-post">
  <div>

    <a href='/blog/{{post.key().id()}}'>
      <div class="blog-title">
        <h5>{{post.score}}</h5>
        <h4>
          {{post.title}}
          <span class="author">
            {{post.author.username}}
          </span>
        </h4>
      </div>
    </a>

    <h5>
      {{post.created.strftime("%b %d, %Y")}}
    </h5>
    {% if post.created != post.last_modified %}
    <p>
      Edited on: {{post.last_modified.strftime("%b %d, %Y")}}
    </p>
    {% endif %}

    <form method="post">
      <input type="hidden" name="vote_id" value={{post.key().id()}} />
      <input type="submit" name="vote" value="Upvote" />
      <input type="submit" name="vote" value="Downvote" />
    </form>

  </div>

  <p>
    {{post.blogpost | safe}}
  </p>
</div>
