{% extends "blog.html" %}

{% block title %}
  <title>Sign In</title>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <h2>
      Sign In
    </h2>

    <p class="error">
      {{error_action}}
    </p>
  </div>

  <div class="row">
    <form method="post">
      <table>
        <br>
        <tr>
          <td class="label">
              Username
          </td>
          <td>
            <input type="text" name="username" value="{{username}}">
          </td>
          <td class="error">
            {{error_username}}
          </td>
        </tr>

        <tr>
          <td class="label">
            Password
          </td>
          <td>
            <input type="password" name="password" value="">
          </td>
          <td class="error">
            {{error_password}}
          </td>
        </tr>
      </table>

      <br>
      <input type="submit">
    </form>

    <br>
    <p>
      Don't have an account?
      <a href="/blog/signup">
        Register.
      </a>
    </p>

  </div>
</div>
{% endblock %}
